body{
background-color: #303030;
color: #ffffff;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}
#container{
width: 1000px;
margin-left: auto;
margin-right: auto;
}
.rectangle{
width: 960px;
margin: 20px;
}
.square{
width: 50%;
float: left;
}
#logo{
float:left;
font-size: 70px;
width: 50%;
letter-spacing:2px;
}
#zegar{
float:left;
font-size: 70px;
width: 50%;
text-align:end;
}
.title1{
background-color:#8A2BE2;
width: 230px;
margin: 10px;
height: 142px;
float: left;
text-align:center;
letter-spacing:1px;
}
.title1:hover{
background-color:#7A1AD1
}
.title3{
background-color:#FF8C00;
width: 230px;
margin: 10px;
height: 142px;
float: left;
text-align:center;
letter-spacing:1px;
}
.title3:hover{
background-color:#EE7B00;
}
.title4{
background-color:#00CED1;
width: 230px;
margin: 10px;
height: 142px;
float: left;
text-align:center;
letter-spacing:1px;
}
.title4:hover{
background-color:#00BDE0;
}
.title5{
background-color:#FF00FF;
width: 480px;
margin: 10px;
height: 142px;
text-align:center;
letter-spacing:2px;
font-size:40px;
}
.title5:hover{
background-color:#DD00DD;
}
.title6{
background-color:#7B68EE;
width: 480px;
margin: 10px;
height: 304px;
text-align:center;
}
.title6:hover{
background-color:#6A57DD;
}
.channel{
width: 100px;
margin: 10px;
height: 142px;
float: left;
border: solid;
text-align:center;
}
a.titlelink{
color:white;
text-decoration:none;
display: block;
width: 230px;
height: 142px;
}

