<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="static/style-portfolio.css" type="text/css"/>
    <link rel="stylesheet" href="static/fontello/css/fontello.css" type="text/css"/>
    <script src="zegar.js"></script>
</head>
<body onload="start_timer();">

<div id="container">
    <div class="rectangle">
        <div id="logo">Speech Technology</div>
        <div id="zegar"></div>
         <div style="clear:both;"></div>
    </div>
    <div class="square">
        <div class="title1">
            <a href="speech-recognition.html" class="titlelink">
            <i class="icon-hand-spock-o"></i><br/>
            Speech Recognition</a>
        </div>
        <div class="title1">
             <a href="speech-recognition.html" class="titlelink">
             <i class="icon-tree"></i><br/> Speech analytics</a>
        </div>
        <div style="clear:both;"></div>
        <div class="title3">
            <a href="speech-recognition.html" class="titlelink">
            <i class="icon-graduation-cap-1"></i><br/> Tutorials </a>
        </div>
        <div class="title4">
            <a href="speech-recognition.html" class="titlelink">
            <i class="icon-desktop"></i><br/> How can I help</a>
        </div>
        <div style="clear:both;"></div>
        <div class="title5"><br />Talk to the digitial voice assistant.<br /> </div>

    </div>
    <div class="square">
        <div class="title6"><br />I am motivated, hands-on engineer.<br /> The main motivation for my work are people and their needs.<br /> My mission is to make people's life easier and technology is my way to accomplish it. <br />
            While developing user friendly interfaces I try to invite people to interact with technology. <br />
            I participate in development of challenging products in the field of  <br />
            conversational ai <br /> natural language processing <br />and human-computer speech interaction.
</div>
        <div class="channel" style="background-color:#008080;">
            <i class="icon-heart"></i>
        </div>
        <div class="channel" style="background-color:#40E0D0;">
            <i class="icon-camera"></i>
        </div>
        <div class="channel" style="background-color:#EE82EE;">
            <i class="icon-asl"></i>
        </div>
        <div class="channel" style="background-color:#FF8C00;">
            <i class="icon-music"></i>
        </div>
        <div style="clear:both;"></div>

    </div>
    <div style="clear:both;"></div>
    <div class="rectangle" style="background-color:#80000; text-align:center;">Developed with <i class="icon-heart-1">
        <br />2022 &copy; Sylwia Buczek - Voice Controlled Applications </i></div>

</div>

</body>
</html>